.section {
	background-color: #b76072;
	color: #fffbf9;

	min-height: 32rem;
	padding: 2.5rem;
	border-radius: 1.5rem;
	border: 3px solid #783643;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.title {
	margin-bottom: 2rem;
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	color: #ffe4ea;
	text-shadow: 0 2px 10px rgba(255, 0, 0, 0.2);
}

.listItem {
	text-shadow: 0 2px 2px rgba(58, 10, 10, 0.5);

	list-style: none;
	width: 100%;
	max-width: 30rem;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	padding: 0.8rem 1.5rem;

	color: #fffbf9;
	font-style: italic;

	background-color: rgba(255, 251, 249, 0.15);
	backdrop-filter: blur(5px);

	border-radius: 0.8rem;
	border: 1px solid rgba(255, 251, 249, 0.2);

	transition:
		transform 0.2s ease,
		background-color 0.2s ease;
	cursor: pointer;
}

.listItem:hover {
	transform: translateX(5px);
	background-color: rgba(255, 251, 249, 0.25);
}

.listItem:active {
	transform: scale(0.95);
}
