button {
	position: relative;
	border: 5px rgb(132, 52, 66) solid;
	border-radius: 1rem;
	padding: 1rem;
	cursor: pointer;
	background-color: white;
	z-index: 1;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
	margin-bottom: 1rem;
}

button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		135deg,
		rgba(255, 253, 253, 0.9) 0%,
		rgba(192, 103, 103, 0.6) 100%
	);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

button:hover {
	transform: translateY(-2px);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
	color: rgb(132, 52, 66);
}

button:hover::before {
	opacity: 1;
}

button:active {
	transform: translateY(2px);
}

.img {
	width: 22rem;
	height: 22rem;
}

.score {
	font-size: 2rem;
	color: #fffbf9;
	font-weight: 500;
	text-shadow: 0 0px 6px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
}

section {
	text-align: center;
	background-color: rgb(177, 76, 98);
	width: min-content;
	padding: 1rem;
	border-radius: 1rem;
}
