* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(218, 215, 236);
	background-image: radial-gradient(
		circle,
		transparent 10%,
		rgba(122, 41, 41, 0.4) 100%
	);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

main {
	display: flex;
	gap: 3rem;
	align-items: flex-start;
}

html {
	font-size: clamp(
		15px,
		15px + (20 - 10) * ((100vw - 1400px) / (2500 - 1400)),
		20px
	);
}

@media screen and (max-width: 1124px) {
	html {
		font-size: clamp(
			6px,
			6px + (12 - 8) * ((100vw - 320px) / (1124 - 320)),
			12px
		);
	}
}
