* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-top: 3rem;
	margin-left: 3rem;
	display: flex;
	align-items: center;
	background-color: rgb(218, 215, 236);
	background-image: radial-gradient(
		circle,
		transparent 10%,
		rgba(122, 41, 41, 0.4) 100%
	);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

main {
	display: flex;
	gap: 3rem;
	align-items: flex-start;
}
